/* additem */

.burger {
  background-color: rgba(242, 242, 242, 0.856);
    min-height: 5vh;
    width: 800px;
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 0;
}

.burger-two {
  background-color: rgba(242, 242, 242, 0.856);
  min-height: 5vh;
  width: 800px;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 0;
}

.content {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 700px;
    font-size: 20px;
}

.content label{
    font-size: 1.20rem;
}